@model Guo_Brian_HW2.Models.GroupOrder

@{
    ViewData["Title"] = "GroupTotals";
}

<div>
    <h2>Group Order Totals</h2>
    <hr />
    <div class=" text-danger">@ViewBag.ErrorMessage</div>
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer_Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreferredCustomer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSweatshirts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSweatshirts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTshirts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTshirts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalItems)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SweatshirtSubtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SweatshirtSubtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TShirtSubtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TShirtSubtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SetupFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SetupFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>

</div>
