@model Guo_Brian_HW2.Models.IndividualOrder

@{
    ViewData["Title"] = "IndividualTotals";
}


<div>
    <h2>Individual Order Totals</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer_Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSweatshirts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSweatshirts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTshirts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTshirts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalItems)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SweatshirtSubtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SweatshirtSubtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TShirtSubtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TShirtSubtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProcessingFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesTax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
</div>
